# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# Virtual environment
.venv/

# Node.js
node_modules/
package-lock.json

# misc
.coverage
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml